<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>634094924962-3euh2cm357j4ucmtk2fms2tpio650rpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634094924962-3euh2cm357j4ucmtk2fms2tpio650rpu</string>
	<key>API_KEY</key>
	<string>AIzaSyCnlZd9GPxSipgI7YWMQk-uLZkY8wGsEEY</string>
	<key>GCM_SENDER_ID</key>
	<string>634094924962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.ACHU</string>
	<key>PROJECT_ID</key>
	<string>achu-8b05f</string>
	<key>STORAGE_BUCKET</key>
	<string>achu-8b05f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:634094924962:ios:6a82f0b3a3b4527e</string>
	<key>DATABASE_URL</key>
	<string>https://achu-8b05f.firebaseio.com</string>
</dict>
</plist>